<p id="notice"><%= notice %></p>

<h1>Question Plurals</h1>

<table>
  <thead>
    <tr>
      <th>Singular</th>
      <th>Plural</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_plurals.each do |question_plural| %>
      <tr>
        <td><%= question_plural.question %></td>
        <td><%= link_to 'Show', question_plural %></td>
        <td><%= link_to 'Edit', edit_question_plural_path(question_plural) %></td>
        <td><%= link_to 'Destroy', question_plural, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question Plural', new_question_plural_path %>
